USE [GasgooForm]
GO
/****** Object:  Table [dbo].[Teml]    Script Date: 08/31/2017 16:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teml](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[XML] [xml] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_Teml] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Teml] ON
INSERT [dbo].[Teml] ([Id], [Title], [XML], [CreateTime], [IsDelete]) VALUES (10000, N'表单1', N'<Form />', CAST(0x0000A78E00F246A8 AS DateTime), 0)
INSERT [dbo].[Teml] ([Id], [Title], [XML], [CreateTime], [IsDelete]) VALUES (10001, N'表单2', N'<Form><item><type>input</type><sort>0</sort><required>true</required><lable>公司</lable><placeholder>公司公司</placeholder><subItem /></item><item><type>radio</type><sort>1</sort><required>true</required><lable>血型</lable><placeholder>血型血型血型</placeholder><subItem><lable>A型</lable><lable>B型</lable><lable>O型</lable><lable>AB型</lable></subItem></item></Form>', CAST(0x0000A78F00F246A8 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Teml] OFF
/****** Object:  Table [dbo].[Form]    Script Date: 08/31/2017 16:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[Id] [int] IDENTITY(10000,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Data] [xml] NULL,
	[CommitTime] [datetime] NOT NULL,
	[IsDelete] [int] NOT NULL,
 CONSTRAINT [PK_Form] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Form] ON
SET IDENTITY_INSERT [dbo].[Form] OFF
/****** Object:  Default [DF_Form_IsDelete]    Script Date: 08/31/2017 16:08:13 ******/
ALTER TABLE [dbo].[Form] ADD  CONSTRAINT [DF_Form_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
/****** Object:  Default [DF_Teml_IsDelete]    Script Date: 08/31/2017 16:08:13 ******/
ALTER TABLE [dbo].[Teml] ADD  CONSTRAINT [DF_Teml_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
